/* global elements */

html {
  background: white;
}

body {
  width: 1024px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #333;
  font: 80% verdana, arial, helvetica, sans-serif;
}

table {
  border: thin solid gray;
  font: 100% verdana, arial, helvetica, sans-serif;
}

tr {
}

th {
}

td {
}

/* global classes */

.listTable {
  /* width: 100%; */
  border-collapse: collapse;
}

.listTable thead tr {
  border: none;
  background: #9999FF;
}

.listTable tbody tr {
  line-height: 20px;
}

.listTable tbody td {
  text-align: right;
  padding-right: 5px;
}

.listTable thead th {
  padding: 5px;
  border: 1px solid #8888FF;
  text-align: center;
}

.listTable thead a:link, .listTable thead a:visited {
  color: black;
  text-decoration: underline;
}

.sortbable {
  color: white;
}

.odd {
  background: #f7f7f7;
}

.even {
  background: #fff;
}

.winner {
  color: blue;
  font-weight: bold;
}

.loser {
  color: gray;
  font-style: oblique;
}

/* navigation table */

.navTable {
  width: 100%;
  background: #000099;
  color: white;
}

.navTable td {
  width: 10%;
  text-align: center;
  border-left: 1px solid gray;
  border-right: 1px solid black;
}

.navTable a:link, .navTable a:visited {
  font-size: 1.25em;
  color: white;
  text-decoration: underline;
}

/* filter panel */

.filterPanel {
  width: 600px;
}

.filterTable {
  width: 100%;
  margin-top: 25px;
  padding: 5px;
}

.playerSelect {
  width: 175px;
}

/* button table */

.buttonTable {
  background: #9999FF;
  padding: 5px;
}

.buttonTable input {
  color: black;
  font-size: 1.25em;
  cursor: pointer;
}

/* list players */

.playerTable {
}

.playerTable thead tr {
}

.playerTable .streak {
  width: 35px;
}

.listTable tbody td.playerName {
  text-align: left;
  padding-left: 3px;
}

/* list games */

.gameList {
  width: 900px;
}

.gameTable {
  width: 100%;
}

.gameTable tr {
  border: thin solid #999999;
}

.gameLength {
  font-size: 90%;
  color: #FF5555;
}

.gameNotes {
  color: red;
  font-weight: bold;
}

/* table columns */

.recordValueColumn {
  text-align: center;
}

.playerColumn, .playersColumn {
  width: 110px;
}

.scoreColumn {
  width: 25px;
}

.ratingColumn {
  width: 25px;
}

.teamColumn {
  width: 150px;
}

.shotsColumn {
  width: 25px;
}

.hitsColumn {
  width: 25px;
}

.toaColumn {
  width: 30px;
}

.gamesPlayedColumn {
  width: 20px;
}

.winPercentageColumn {
  width: 50px;
}

.streakColumn {
  width: 45px;
}

/* create game */

.createGameBody {
  width: 450px;
}

.createGameTable {
  width: 100%;
}

.createGameTable tr td.label {
  vertical-align: middle;
}

.createGameValueEditor {
  width: 170px;
}

.createGameValueLabel {
  width: 80px;
  vertical-align: middle;
}

/* copied from main.css */

/* MESSAGES AND ERRORS */

.message {
  background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
  border: 1px solid #b2d1ff;
  color: #006dba;
  margin: 10px 0 5px 0;
  padding: 5px 5px 5px 30px
}

div.errors {
  background: #fff3f3;
  border: 1px solid red;
  color: #cc0000;
  margin: 10px 0 5px 0;
  padding: 5px 0 5px 0;
}

div.errors ul {
  list-style: none;
  padding: 0;
}

div.errors li {
  background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
  line-height: 16px;
  padding-left: 30px;
}

td.errors select {
  border: 1px solid red;
}

td.errors input {
  border: 1px solid red;
}

/* PAGINATION */

.paginateButtons {
  background: #9999FF;
  border: 1px solid #8888FF;
  border-top: 0;
  color: black;
  text-decoration: underline;
  font-size: 100%;
  overflow: visible;
  padding: 10px 3px;
}

.paginateButtons a {
  background: #fff;
  border: 1px solid #ccc;
  border-color: #ccc #aaa #aaa #ccc;
  margin: 0 3px;
  padding: 2px 6px;
  color: black;
  text-decoration: underline;
}

.paginateButtons span {
  padding: 2px 6px;
}